{% extends "layout.html" %}
{% block title %}
    History
{% endblock %}

{% block main %}
<h1>History</h1>

    <table class="table table-striped-columns">
        <thead>
            <tr>
              <th scope="col">Symbol</th>
              <th scope="col">Name</th>
              <th scope="col">Shares</th>
              <th scope="col">Price</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for transaction in transactions %}
              <td>{{ transaction["symbol"]}} </td>
              <td>{{ transaction["name"]}} </td>
              <td>{{ transaction["shares"]}} </td>
              <td>{{ transaction["price"]}} </td>
              <td>{{ transaction["date"]}} </td>

            </tr>
            {% endfor %}
            </tbody>

    </table>

{% endblock %}