{% extends "layout.html" %}
{% block title %}
    Index
{% endblock %}

{% block main %}
<h1>STOCK PORTFOLIO</h1>

    <table class="table table-striped-columns">
        <thead>
            <tr>
              <th scope="col">Symbol</th>
              <th scope="col">Name</th>
              <th scope="col">Shares</th>
              <th scope="col">Price</th>
              <th scope="col">Totals</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for transaction in transactions %}
              <td>{{ transaction["symbol"]}} </td>
              <td>{{ transaction["name"]}} </td>
              <td>{{ transaction["shares"]}} </td>
              <td>{{ transaction["price"]}} </td>
              <td>{{ transaction["Total"]}} </td>

            </tr>
            {% endfor %}
            </tbody>
            <tfooter>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>Cash</th>
                    <th>{{ cash }} </th>

                  </tr>

            </tfooter>

    </table>

{% endblock %}